/*
CSS Reset - Normalize.css
*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*
Fim do NORMALIZE
*/

/*
================================
    Cabeçalho
================================
*/

header {
    border-bottom:1px solid #E0E0E0;
    height: 150px;
    width: 100%; /* 1200px / 1200px = 1 * 100 = 100% - contexto = próprio body*/
}

    header h1 a {
        background: url(imagens/logo-criar-site-responsivo.png) no-repeat;
        display: block;
        float: left;
        height: 139px;
        text-ident: -9999;
        width: 25.16666666665%; /* 302px (largura original) / 1200px (largura do header, seu pai)*/
    }

/*===============================
    nav - menu de navegação
===============================*/

    nav {
        float: right;
        margin-top: 78px;
        text-align: right;
        width: 40.83333333% ; /* 490px (largura original) / 1200px (largura do header, seu pai) */
    }
        nav ul {
            list-style-type: none;
        }

            nav li {
                display: inline; /* Deixa o menu na horizontal */
            }

                nav ul li a {
                    margin-right: 2.5%; /* Margem à direita de cada link
                        Conversão para fluido: 30px original / 1200px (largura do pai, nav)
                    */
                }

                    nav ul li:nth-child(5) a {
                        margin-right: 0%; /* Margem à direita do 5º elemento da lista tem valor 0 */
                    }

                nav a:link, nav a:visited {
                    color: #999;
                    font-size: 1.2222222222em; /* 22px (original) / 18px (body - contexto /pai) */
                    font-weight: 300;
                    letter-spacing: -0.0909090909em; /* -2px (original) / 22px (contexto da própria letra)*/
                    line-height: 1.18181818182em; /* 26px (original) / 22px (contexto da própria letra) */
                    display: inline-block;
                }

    nav a.ativo:link , nav a:hover {
        color: #FE9380;
    }

body{
     background:url(imagens/background.jpg); /*inserção da imagem de fundo em todo o site*/
     color:#868686; /*cor padrão para todas as fontes*/
     font-family: 'Open Sans', Helvetica, sans-serif, arial; /*definição da fonte geral incorporada do Google Fonts*/
     font-size: 18px; /*tamanho da fonte*/
     font-weight: 300; /*indica que a fonte está coonfigurada como Open Sans Light*/
     line-height: 22px;/*altura da linha*/
     text-align: left; /*alinhando o texto à esquerda*/
     text-shadow:1px 1px 0px #fff; /*sombreamento para as fontes do site*/
}

.center{
     margin: 0 auto; /*centralizando o conteúdo no navegador*/

/*******************
     LAYOUT FLUIDO!
**********************/
     max-width: 1200px; /*largura do layout*/
     width: 90%;
}

/* =========================
 *      CLEARFIX
 * =========================
.clearfix usado para adicionar um espaço vazio antes e depois dos elementos
evitando que os floats se aglomerem
*/

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*fim do clearfix*/

img, picture, video, embed {
    max-width: 100%; /*define a largura máxima em até 100% */
}

h1, h2 {
    color: #FE9380;
    font-size: 3.3333333333em; /* 60px (original) / 18px (body)*/
    font-weight: 800;
    letter-spacing: -0.05em; /*-3px (original) / 60px (contexto é o próprio h2)*/
    line-height: 1em; /* 60/60 (o contexto é a própria linha)*/
}

h3 {
    font-size: 1.7777777778em; /* 32px ÷ 18px (body)  */;
    font-weight: 300;
    letter-spacing: -0.0625em; /* -2px ÷ 32px */
	line-height: 1.1875em; /* 38px ÷ 32px */
}

p {
    font-weight: 300;
    letter-spacing: -0.05555555556em; /* -1px ÷ 18px = -0.05555555556em */
}

a, a:link, a:visited {
    color: #FE9380;
    font-weight: 400; /* como se fosse um "médio negrito" */
    text-decoration: none; /* removendo underline do link*/
}

a:hover {
    color:#FE5E41;
	text-decoration:underline; /*insere uma linha sob o link*/
	text-shadow:none; /*retira a sombra da fonte*/
}

/* =================================
            Seção Chamada
====================================*/

.chamada {
    height:290px;
    text-align:center;
    width; 100%; /* 1200px (largura original) / 1200px (contexto do pai: body)*/
}

    h2 span {
        font-size: 1em; /* 60px (manter o próprio contexto) / 60px (contexto original do elemento h2)  */
        font-weight: 300;
        letter-spacing: -0.03333333333em; /*-2px (original) / 60px (próprio elemento) */
        line-height: 1em; /* O mesmo que font-size*/
    }

    .chamada h3 {
        margin: 0 auto;
        width: 75% /* 900px (largura original) / 1200px (contexto do pai: chamada -> mesmo que body)*/;
    }

/*==========================================================
Seção .CONTAINER - Conteúdo com 3 colunas
==========================================================*/

.container {
    background-color:#FE9481;
    height: 417px;
    padding: 2.5%; /* 30px (largura original) / 1200px (largura original do PRÓPRIO elemento, pois é padding)*/
    max-width: 95%px; /* 1200 (originais) / 1200 (largura pai - body) - 2.5 de padding de cada lado */

    /* padding left + padding right + objeto = width TOTAL */
    width: 95%%; /* Contexto: body (1200px largura original)*/
}

    /*Por causa do padding, a largura, width, do .container passou de 1.200px para 1.140px (95%)*/
    .desktop, .tablet, .mobile {
        float:left;
        position: relative;
        text-align: center;

        /* width:
         *
         * 360px (largura original) / 1140px (referente ao pai,
         * agora com 95% da largura devido à conversão de larguras

        */
        width: 31.57894736842105% ;
    }

    .desktop, .tablet {
         margin-right: 2.631578947368421% ; /* 30px (original) / 1140px (largura do pai .container)*/
    }

    .mobile {
        background-color: #9C8CB9;
        margin-right: 0px;
    }

    .desktop {
        background-color: #FE9481;
    }

    .tablet {
        background-color: #FCDA92;
    }

        .container .desktop figure, .container .tablet figure, .container .mobile figure {
            margin: 15px auto 0px auto;
            width: 69.4444444444%;
            /* 250px (original, que não estava no tutorial)

            / 360px (largura dos pais: .desk, .mobil., .tabl*/

        }

    /*
        Texto do Container
    */

    .container h3 {
        color: #fff;
        font-size: 1.77777777778em; /* 32px originais / 18px (body - pai)*/
        font-weight: 300;
        letter-spacing: -0.0625em; /* -2px (originais) / 32 px (contexto próprio elemento)*/
        margin-bottom: 30px;
        text-shadow: none;
    }

    .container p {
        background-color: #fff;
        float: left;
        height: 160px;
        padding: 1.94444444444445%; /* 7px (original) / 360px (próprio elemento por ser padding) */
        position: absolute;
        width-max: 100%;
        text-align: justify;
        top: 225px;
    }

    /*
        Formataçao dos Botões
    */

    span.btn {
        font-size: 1.1111111111em; /* 20px (original) / 18px (do contexto body - elemento herdado)*/
        font-weight: 400;
        letter-spacing: -0.1em; /*-2px (original) / 20px (elemento pai, próprio span)*/
        height: 27px;
        margin-top: 30px;
        position: absolute;
        right: 1px;
        text-align: center;
        text-shadow: none;
        width: 33.3333333333%; /* 120px (original) / 360px (largura do pai que é

        .tablet; .desktop; .mobile*/
    }

    span.btn a {
        color: #fff;
        padding: 2px 3.3333333333%; /* 4px (original) / 120px (próprio elemento por ser padding)*/
    }

    .desktop span.btn a{
        background-color:#FE9481;
    }
    .tablet span.btn a{
        background-color:#FCDA92;
    }
    .mobile span.btn a{
        background-color:#9C8CB9;
    }

/* ================================
    Seção Footer
===================================*/

footer {
    clear: both;
    height: 50px;
    padding: 10px 0px;
    width: 100%; /*1200px (original) / 1200px (container pai: class .center)*/
}

    .copyright {
        float: left;
        margin-left: 2.5%px; /* 30px (original) / 1200px (container pai: footer, por ser margin)*/
    }

    .desenvolvedor {
        float: right;
    }
        .desenvolvedor figure {
            width: 100%;
        }

/* ====================
    MEDIA QUERIES
=======================*/
/*
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width: 1200px){
    .chamada h3 {
        font-size: 1.66666666667em; /*
        30px (nova medida para caber no novo device)
        / 18px (medida do body)
        */
    }

    .container h3 {
        font-size: 1.55555555556em; /*  28px ÷ 18px */
    }

    .container p {
        height: 170px;
        top: 217px;
    }
}




/*
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width: 960px){
    header h1 a {
        width: 37.5%; /* 360px (novo tamanho) / 960px(nova resolução)*/
    }

    nav {
        width: 62.5%; /*600px / 960px*/
    }

    h2 {
        font-size: 2.66666666667em; /*48px / 18px (body)*/
    }

/*  .chamada */
    .chamada {
        height: 250px;
    }
        .chamada h3 {
            font-size: 1.5em; /*27px / 18px*/
            width: 88.5416666666667% /* 850px (nova medida) / 960px*/
        }

/*    .container */
     .container {
        height: 425px;
        padding: 3.125% ; /*30px / 960px (novo contexto do padding)*/
        width: 93.75%; /* 100% original - 6.25 de padding (esq. e direita)*/
    }
        .desktop, .tablet, .mobile{
            width: 31.4583333333333%; /* 302px / 960px*/
        }

        .container .desktop figure, .container .tablet figure, .container .mobile figure {
               width:66.22516556291391%; /* 200px ÷ 302px %*/
        }

            .container img {
                height: 100px;
            }

        .container h3 {
            font-size: 1.6666666667em; /* 30px / 18px*/
        }

        .container p {
            font-size: 0.8333333333em; /*15px ÷ 18px*/
            top: 230px;
        }
}



/*
768px – Tablets no formato retrato, como o iPad
***********************************************************/
@media screen and (max-width=768px){

}
/*
480px – Smartphones no formato paisagem com tela pequena
***********************************************************/
@media screen and (max-width=480px){

}
/*
320px – Smartphones no formato retrato com tela pequena
***********************************************************/
@media screen and (max-width=320px){

}